test-output/testng.css
test-output/testng-results.xml
test-output/testng-reports.js
test-output/testng-reports.css
test-output/testng-failed.xml
test-output/skipped.png
test-output/passed.png
test-output/index.html
test-output/failed.png
test-output/emailable-report.html
test-output/collapseall.gif
test-output/bullet_point.png
test-output/Mediaferry/testng-failed.xml
test-output/Mediaferry/Registration test.xml
test-output/Mediaferry/Registration test.html
target/surefire-reports/xml/tests.SignupTest_results.xml
target/surefire-reports/xml/tests.LoginTest_results.xml
target/surefire-reports/html/suites.html
target/surefire-reports/html/suite1_test1_results.html
target/surefire-reports/html/sorttable.js
target/surefire-reports/html/reportng.js
target/surefire-reports/html/reportng.css
target/classes/pages/ProjectPage.class
target/classes/pages/LoginPage.class
target/classes/pages/HeaderPage.class
target/classes/constants/Constants.class
target/classes/config/configData.properties
target/classes/META-INF/maven/Mediaferry/Mediaferry/pom.xml
target/classes/META-INF/maven/Mediaferry/Mediaferry/pom.properties
target/classes/META-INF/MANIFEST.MF
target/classes/BaseClasses/Driver.class
target/classes/BaseClasses/BasePage.class
TestData/.~lock.registration_details.xlsx#
test-output/old/index.html
test-output/old/Mediaferry/toc.html
test-output/old/Mediaferry/testng.xml.html
test-output/old/Mediaferry/reporter-output.html
test-output/old/Mediaferry/methods.html
test-output/old/Mediaferry/methods-not-run.html
test-output/old/Mediaferry/methods-alphabetical.html
test-output/old/Mediaferry/main.html
test-output/old/Mediaferry/index.html
test-output/old/Mediaferry/groups.html
test-output/old/Mediaferry/classes.html
test-output/old/Mediaferry/Registration test.properties
test-output/navigator-bullet.png
test-output/junitreports/TEST-tests.SignUpTest.xml
test-output/junitreports/TEST-tests.LoginTest.xml
test-output/jquery-1.7.1.min.js
target/surefire-reports/html/overview.html
target/surefire-reports/html/index.html
target/surefire-reports/TestSuite.txt
target/surefire-reports/TEST-TestSuite.xml
target/classes/utilities/UtilityMethods.class
target/classes/utilities/ScreenshotOnFailureListener.class
target/classes/utilities/MailReader.class
target/classes/utilities/FileOperations.class
target/classes/tests/SignupTest.class
target/classes/tests/LoginTest.class
target/classes/tests/CreateEditAndUploadJobFromMediaFerryAndBillingTest.class
target/classes/steps/SignupSteps.class
target/classes/steps/MediaFerryAndBillingSteps.class
target/classes/steps/LoginSteps.class
target/classes/pages/SignupPage.class
screenshots/verifyMandatoryFieldsTest_08_30_17_17_26_30.png
screenshots/signupWithValidDeatils_09_01_17_11_42_47.png
screenshots/signupWithValidDeatils_09_01_17_11_40_43.png
screenshots/signupWithExistingAccount_09_01_17_11_50_22.png
screenshots/signupWithExistingAccount_09_01_17_11_40_45.png
/target/
screenshots/
test-output/
